@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Helvetica, sans-serif;
}

.btn {
  @apply px-3 py-2 font-bold text-black uppercase transition duration-75 bg-gray-300 cursor-pointer hover:text-white hover:bg-gray-400 active:bg-gray-500;
}

.btn-lime {
  @apply bg-lime-300 hover:bg-lime-400 active:bg-lime-500 
  /* dark:bg-lime-600 dark:text-gray-100 dark:hover:bg-lime-500 
  dark:active:bg-lime-800; */;
}

.btn-cyan {
  @apply bg-cyan-600 hover:bg-cyan-400 active:bg-cyan-500  text-white
  /* dark:bg-lime-600 dark:text-gray-100 dark:hover:bg-lime-500 
  dark:active:bg-lime-800; */;
}

.btn-orange {
  @apply bg-orange-400 hover:bg-orange-500 active:bg-orange-600;
}

.badge {
  @apply rounded-full bg-gray-200 text-black px-1 py-0.5 text-sm md:text-base md:py-1 md:px-2 border border-black md:border-2 md:font-semibold hover:bg-slate-500 hover:text-white hover:cursor-pointer;
}
